{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
Add new offer
{% endblock %}
{% block body_block %}
{% if game %}
{% if category %}
<form action="" method="post" class="submission-form">
  {% csrf_token %}
  {{ baseoffer_form.as_p }}
  <span id="hidden">
    <p><label for="id_quantity">Quantity:</label> <input type="number" name="quantity" value="1" required="" id="id_quantity" min="1"></p>
    <p><label for="id_rangestep">Rangestep:</label> <input type="number" name="rangestep" value="1" required="" id="id_rangestep" min="1"></p>
  </span>
  <input type="submit" value="Submit">
</form>
{% else %}
Category does not exist!
{% endif %}
{% else %}
Game does not exist!
{% endif %}
{% endblock %}
