{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
{{ game.name }}
{% endblock %}
{% block body_block %}
{% if game %}
<h1 class="text-center">{{ game.name }}</h1>
{% if categories %}
{% for category in categories %}
<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">{{ category.title }}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{% url 'categories' game.slug category.slug %}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<p>Categories does not exist</p>
{% endif %}
{% else %}
<p>Game does not exist</p>
{% endif %}
{% if user.is_staff %}
<div class="row justify-content-md-center">
  <div class="card border-light">
    <div class="card-body card-center">
      <p class="card-text">You can add new category</p>
        <a href="{% url 'add_category' %}" class="btn btn-secondary">Add category</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
