{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
Games
{% endblock %}
{% block body_block %}
<div class="row">
{% for game in games %}
    <div class="card text-center w-50">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p><a href="{% url 'games' game.slug %}"><img class="img-responsive logo" src="{{ game.logo.url }}" width="430" height="300" alt=""></a></p>
        <p class="card-text">{{ game.description }}</p>
        <a href="{% url 'games' game.slug %}" class="btn btn-primary">To Game</a>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
