body {
  padding-top: 70px;
}

.drop-acc {
  padding-right: 50px;
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 215px;
    height: 150px;
  }
}

.empty_wrong_p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.card-center{
  text-align: center;
}

#hidden {
  display: none;
}

.hidden {
  display: none;
}

#search_field {
  position: absolute;
  background: white;
  border: solid 0.1px grey;
  top: 50px;
  width: 190px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  text-align: center;
  border: solid 0.1px gray;
  background: white;
}

.pause-btn {
  cursor: pointer;
  background: url(../images/pause.png) no-repeat center top;
  border-radius: 50%;
  border: none;
  height: 32px;
  width: 32px;
}

.play-btn {
  cursor: pointer;
  background: url(../images/play.png) no-repeat center top;
  border-radius: 50%;
  border: none;
  height: 32px;
  width: 32px;
}

.delete-btn {
  cursor: pointer;
  background: url(../images/delete.png) no-repeat center top;
  border-radius: 50%;
  border: none;
  height: 32px;
  width: 32px;
}

.card {
  margin: 0;
}

#btnblack {
  background-color: black;
}

.helptext {
  display: none;
}
.submission-form {
  margin: auto;
  width: 40%;
}
.submission-form p {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  .submission-form {
    margin: auto;
    width: 60%;
  }
}
