body {
  padding-top: 70px;
}
.drop-acc {
  padding-right: 50px;
}
@media only screen
  and (max-width: 1000px) {
    .logo {
      width: 215px;
      height: 150px;
    }
}
.card {
  margin: 5px 0;
}
