{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
  $(document).ready(function() {
    $('#search').keyup(function() {
      var query;
      query = $(this).val();
      $.get('/search/', {
        suggestion: query
      }, function(data) {
        $('#cats').html(data);
      });
    });
  });
</script>
<script>
  $(document).ready(function() {
    var href = $('.btnblack').attr('onclick')
    $("#quantityrange").mousemove(function() {
      $('.oquantity').text(this.value);
      var s = $(this).attr('data');
      $('.oprice').text(this.value * s);
      var quantity = href.slice(0, -1) + this.value + '/"';
      $('.btnblack').attr('onclick', quantity);
    });
  });
</script>
<script>
  $(document).ready(function() {
    $("#id_type").change(function() {
      if ($(this).val() == 'Custom') {
        $("#hidden").removeAttr("style").show();
      }
      if ($(this).val() == 'Base') {
        $("#hidden").hide();
      }
    });
  });
</script>
<script>
  $(document).ready(function() {
    $(".active-btn").click(function() {
      var offer = $(this).attr("data");
      var button = $(this).attr("class");
      var object = $(this);
      $.get({
        url: "{% url 'offer_status_change' %}",
        data: {
          "offer": offer,
          "button": button
        },
        dataType: "json",
        success: function(data) {
          if (data.success) {
            if (data.delete) {
              $(object).parent().parent().hide();
            } else if (data.pause) {
              if ($(object).attr("class") == "active-btn play-btn") {
                $(object).attr("class", "active-btn pause-btn");
              } else {
                $(object).attr("class", "active-btn play-btn");
              }
            } else {
              alert("Error")
            }
          } else {
            alert("Error!")
          }
        }
      })
    });
  });
</script>
